[Unit]
Description=pbs cache API
After=update_pbs_cache.timer
Requires=redis.service
ConditionPathExists=/etc/pbs_cache.toml

[Service]
WorkingDirectory=/opt/pbs_cache
ExecStart=/opt/pbs_cache/venv/bin/uvicorn --host 0.0.0.0 --workers 4 --port 8000 api:app
RestartSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target