[Unit]
Description=save pbs data to cache
After=redis.service
Requires=redis.service

[Service]
Type=oneshot
WorkingDirectory=/opt/pbs_cache
TimeoutStartSec=60
ExecStart=/opt/pbs_cache/venv/bin/python cache_pbs_data.py
